<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JET SE Coding Assignment</title>
</head>
<body>
<h1> Just Eat Takeaway.com Software Engineering Coding Assignment </h1>
<form method="POST" action="{{ url_for('restaurants') }}">
{{ form.code.label }} {{ form.code(size=30) }}
{{ form.submit }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</form>

</body>
</html>