.background-image {
    background-image: url('/static/food-photo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85
}

.form-container {
    background-color: black;
    opacity:0.9;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 20px;
}

@media (max-width: 767px) {
.img-fluid.above-text {
    margin-top: 10px;
}
}